footer {
    background-color: #8b8b8b;
    height: 300px;
    display: flex;
    align-items: center;

    .margin {
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
            width: 150px;
            height: 50px;
            background-color: #fff;
        }
    }
}