#modal {
    background-color: rgba(85, 107, 47, .6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 75;

    // display: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &-background {
        position: absolute;
        height: 100%;
        width: 100%
    }

    &-content {
        background-color: white;
        height: 65%;
        width: 50%;

        border-radius: 15px;

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        position: relative;

        .closeBtn {
            background-color: rgb(172, 26, 26);
            height: 25px;
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            color: #fff;
            border-radius: 8px;
            font-family: sans-serif;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        .sign {
            height: 80%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;

            h6 {
                font-size: 32px;
                font-family: sans-serif;
                position: absolute;
                top: 0;
            }
        }

        form {
            padding-top: 50px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;

            label {
                width: 100%;
                text-align: start;
                font-family: sans-serif;
            }

            input {
                border: solid rgb(85, 107, 47) 1px;
                padding: 5px;
                border-radius: 7px;
                margin-bottom: 15px;
            }

            input[type="submit"] {
                background-color: rgb(85, 107, 47);
                border: none;
                border-radius: 10px;
                color: #fff;
                font-size: 16px;
                padding: 10px 20px;

            }

            input[type="submit"]:hover {
                background-color: rgb(59, 75, 33);
            }
        }

        .signIN {
            border-right: solid rgb(85, 107, 47) 1px;

            form {
                input {
                    margin-bottom: 25px;
                }
            }
        }
    }
}