nav {
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
    font-family: sans-serif;

    .margin {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .links a {
            margin-right: 20px;
            text-transform: capitalize;
        }

        .account .login {
            cursor: pointer;
        }
    }

    a,
    span {
        color: #fff;
        text-decoration: none;
    }
}